<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}"></title>
</head>
<body>
	<section>
		<div class="container">
			<div class="card mt-0 mr-3">
				<div th:if="${session.message}" class="container">
					<div th:classappend="${'alert-'+session.message.type}"
						class="text-center alert" role="alert">
						<span th:text="${session.message.content}"></span>
					</div>
					<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
				</div>
				<h1 class="text-center">
					Welcome <span th:text="${user.uName}"></span>
				</h1>
				<div class="card-body text-center">
					<div class="container">
						<img style="height: 200px; width: 200px;" class="profile-pic mb-2"
							th:src="@{'/user-profile-pic/'+${user.uImageUrl}}" />
					</div>
					<h3 class="text-secondary font-italic font-weight-light">Start
						Adding new contacts on Cloud...</h3>
					<a th:href="@{/user/add-contact}"
						class="btn btn-primary btn-block text-uppercaset mt-4">Add New
						Contact</a>
				</div>
			</div>

		</div>
		<script>
		$(document).ready(()=>{
			$('.item').removeClass('active');
    		$('#home-link').addClass('active');
    	});    	
    </script>
	</section>

</body>
</html>